<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Patient Part Page</h1>
<br/>

<br/>
<br/>

<a routerLink="patientList">PatientList</a> |

<a routerLink="addPatient">AddPatient </a> 

<br/>
<br>
<router-outlet></router-outlet>
<br/>

<!--
<app-product-info>Product Info </app-product-info>
<br/>
<app-product-list>Product List Information</app-product-list>
<br/>
<app-patient>Patient Information System</app-patient>
-->

